@import '../import/variable.scss';
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints';

.user-form {
    display:flex;
    width:100%;
    height:100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    outline: none;
    > label {
        margin-bottom:0;
    }

    .search_form {
        display:flex;
        @include media-breakpoint-down(sm){
            display:none;
        }
    }
    .form-control {
        border:none;
        border-radius: 0;
        border-bottom: 1px solid #ced4da;
        outline: none;
        width:180px;
        @include media-breakpoint-down(md){
            width:120px;
        }
    }
    .fa-search {
        color:#a9bafa;
        font-size:2rem;
    }

    .fa-user {
        vertical-align: bottom;
    }

    .m-search {
        color:$red;
    }
}


.search-modal {
    .modal-body {
        .row {
            margin-left:0;
            margin-right:0;
            .col-10 {
                padding-left:0;
                padding-right:0;
            }
            .col-2 {
                padding-left:0;
                padding-right:0;
            }
        }
    }
}