<div class="display-large">
    <h3 class="music-title">
        <i class="fas fa-music"></i>
        <span>@@title</span>
    </h3>
    <div class="media-section position-relative">
        <a href="#">
            <img src="/images/thum-large.png" />
            <div class="main-display-tooltip" role="tooltip">
                <div class="title-section">
                    <h1 class="title">@@songTitle</h1>
                </div>
                <div class="sub-title">
                    <span>작사:아무개</span> <span>작곡:아무개</span>
                </div>
                @@include('component/detailCount.html')
            </div>
        </a>
    </div>
    @@include('component/tagList.html')
</div>
