 //custom scss
@import './import/variable.scss';


// bootstrap scss
// @import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/aos/src/sass/aos.scss';

// bootstrap mixin 사용법
// @import '../../node_modules/bootstrap/scss/mixins/breakpoints'; //같이 import한 후에
// @include media-breakpoint-only(xs) { 스타일링 }
// @include media-breakpoint-only(sm) { 스타일링 }
// @include media-breakpoint-only(md) { 스타일링 }
// @include media-breakpoint-only(lg) { 스타일링 }
// @include media-breakpoint-only(xl) { 스타일링 }

// bootstrap scss z-index 변수
// $zindex-dropdown:          1000 !default;
// $zindex-sticky:            1020 !default;
// $zindex-fixed:             1030 !default;
// $zindex-modal-backdrop:    1040 !default;
// $zindex-modal:             1050 !default;
// $zindex-popover:           1060 !default;
// $zindex-tooltip:           1070 !default;

@font-face { font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, table, div, p {font-family:'BMDOHYEON'; letter-spacing: -0.1rem;}
html, body {
  @include media-breakpoint-down(md) {
    font-size:12px;
  }
}
body {
  padding-top: 11.5rem;
}

.custom-breakpoint {
  @include make-grid-columns(5, $grid-gutter-width-custom, $grid-breakpoints-colums-custom-5)
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
}

.portfolio-item {
  margin-bottom: 30px;
}

.btn-link {
  color:$text;
  text-decoration: none !important;
  border-radius: 0.25rem;
  background: #ededed;
  &:hover {
    color:$text-hover;
  }
}

button {
  background:transparent;
  border:none;
  padding:0;
}

strong {font-style: none; font-weight: normal;}

img {width:100%;}

.music-title {
  padding:1.5rem 0 1rem 0;
  font-size:1.5rem;
  color:$title;
  .fa-music {
    font-size:1.2rem;
    color:#dea4ed;
  }
  .fa-book-open {
    font-size:1.2rem;
    color:#dea4ed;
  }
  span {
    font-size:1.5rem;
  }
}


.tag-list {
  .tag-item {
    color:$text;
    margin-right:0.5rem;
    text-decoration: none;
    &:hover {
      color:$text-hover;
    }
  }
}

.main-display {
  &.row {
    > div {
      padding:0 8px ;
    }
  }
  .row {
    margin:0;
  }
  .music-tab {
    .col-md-4 {
      padding:0;
    }
    .col-xs-4 {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
    .music-title {
      opacity: 0.5;
      &.active, &:hover {
        opacity: 1;
      }
    }
    .tab-wrap {
      overflow-y: auto;
      .tab {
        margin:0;
        list-style: none;
        padding:0;
        margin:0;
        li {
          margin-bottom:1.25rem;
        }
      }
    }
  }
}

.music-list {
  .col-5, .col-7 {
    padding:0;
    
  }
  .col-7 {
    .text-section {
      padding:0.5rem 0.7rem 0.5rem 0.7rem;
      > strong {
        display:block;
        padding: 0 0 0.5rem 0;
        font-weight: normal;
        .title {
          color:$text;
          text-decoration: none;
          @include media-breakpoint-down(sm) {
            font-size:1.2rem;
          }
        }
      }
    }
  }
}

.counter-section {
  .row {
    margin:0;
  }
  .col-4 {
    padding:0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .fas {
    font-size:0.75rem;
  }
  .fa-play {
    color:#febd86;
  }
  .fa-heart {
    color:#d49be3;
  }
  .fa-comment {
    color:#cbe9a2;
  }
  .count {
    font-size:12px;
    font-family: 'Nanum Gothic';
    letter-spacing:-0.05rem;
  }
}

.music-display {
  position: relative;
  .btn-link {
    position: absolute;
    top:1.2rem;
    right:0.5rem;
  }
  .music-display-item {
    margin-bottom:1.5rem;
    .text-section {
      > strong {
        display:block;
        padding: 1rem 0 0.5rem 0;
        font-weight: normal;
        .title {
          color:$text;
          text-decoration: none;
          @include media-breakpoint-down(sm) {
            font-size:1.2rem;
          }
        }
      }
    }
  }
}


footer {
  .container {
    > address {
      display:block;
      font-family: "Nanum Gothic";
      color:$text;
      font-size:1rem;
    }
    > strong {
      display:block;
      text-align: center;
      color:$text;
      font-size:1.2rem;
    }
  }
}