<div class="detail-content collapse multi-collapse mt-3 " id="detail-content">
    <div class="title-section">
        <h4 class="pt-3 pb-2"><i class="fas pr-2 fa-comment"></i> 댓글</h4>
        <div class="sns-section pl-3 pt-3 pb-2">
            <a href="#"><i class="fab fa-facebook-square" style="font-size:1.8rem; color:orange;"></i></a>
            <a href="#"><i class="fab fa-twitter-square" style="font-size:1.8rem; color:green;"></i></a>
        </div>
    </div>

    <form>
        <div class="form-group">
        <div class="comment-input-section">
            <input type="text" class="form-control" id="comment-input" aria-describedby="comment" placeholder="댓글" aria-label="comment" >
            <button type="submit" class="btn btn-primary ml-1">작성</button>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
            댓글을 작성할 수 있습니다.
        </small>
        </div>
    </form>

    <div class="card">
        <div class="card-body">
            @@loop('component/comment/commentItem.html', [
                {"writer": "빤따스뤽1", "isReply": ""},
                {"writer": "빤따스뤽2", "isReply": "<i class='fas fa-reply'></i>"},
                {"writer": "빤따스뤽3", "isReply": "<i class='fas fa-reply'></i>"}
            ])
        </div>
        <div class="card-footer">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
        </div>
    </div>
</div>

<link href="/css/component/comment.css" rel="stylesheet">