//breakPoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1000px,
  xl: 1280px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1000px,
  xl: 1280px
) !default;

$grid-breakpoints-colums-custom-5: (
  cxs: 0,
  csm: 576px,
  cxl: 1280px
) !default;


//color;
$primary:#e55;
$red:#ee5555;
$title:#333;
$text:#666;
$text-hover:#000;
$textBold:#333;
$purple:#a9bafa;
$white:#fff;
$gray:#ededed;
$pink:#fbc1d5;
$yellow: #f7e924;
$green:rgb(61, 240, 70);

$grid-gutter-width-custom:16px !default;