<form class="user-form">
    <!-- <button type="button"><i class="fas fa-search d-block d-sm-none m-search" data-toggle="modal" data-target=".search-modal"></i></button> -->
    <!-- <input type="text" class="form-control d-none d-md-block" placeholder="검색어" aria-label="search" > -->
    <!-- <button type="submit"><i class="fas fa-search d-none d-md-block"></i></button> -->
    <button type="button"><i class="fas fa-search m-search" data-toggle="modal" data-target=".search-modal"></i></button>
    <!--비로그인-->
    <button type="button" class="ml-2" data-toggle="modal" data-target="#modal"><i class="fas fa-user"></i></button>
    <!-- 로그인 -->
    <!-- <a href="#" class="ml-2"><i class="fas fa-user login"></i></a> -->
</form>

<link href="/css/component/user_form.css" rel="stylesheet">