<div class="row main-display">
    <div class="col-lg-8">
      <div class="display-large">
        <h3 class="music-title">
          <i class="fas fa-music"></i>
          <span>@@title</span>
        </h3>
        <div class="media-section position-relative">
          <a href="#">
            <img src="/images/thum-large.png" />
            <div class="main-display-tooltip" role="tooltip">
              <div class="title-section">
                <h1 class="title">너에게 난 나에게 넌</h1>
              </div>
              <div class="sub-title">
                <span>작사:아무개</span> <span>작곡:아무개</span>
              </div>
              <div class="detail-count-section bright in-main-display">
                <i class="fas fa-play"></i><span class="text">재생수 :</span><span class="count">255</span>
                <i class="fas fa-heart"></i><span class="text">좋아요 :</span><span class="count">2,555</span>
                <i class="fas fa-comment"></i><span class="text">댓글수 :</span><span class="count">555</span>
              </div>
            </div>
          </a>
        </div>
        <div class="d-block tag-list pt-3 pb-3">
            <a class="tag-item" href="#">#자전거탄풍경1집</a>
            <a class="tag-item" href="#">#16비트</a>
            <a class="tag-item" href="#">#클래식OST</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="music-tab">
        <div class="row tab-btn-section">
            <div class="col-md-4 col-sm-3 col-xs-4">
                <button class="music-title active">
                    <i class="fas fa-music"></i>
                    <span>인기곡</span>
                </button>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-4">
                <button class="music-title">
                  <i class="fas fa-music"></i>
                  <span>최신곡</span>
                </button>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-4">
                <button class="music-title">
                  <i class="fas fa-music"></i>
                  <span>추천곡</span>
                </button>
            </div>
        </div>
        <div class="tab-wrap">
          <ul class="tab">
              @@for (var i = 0; i < 4; i++) {
                  @@include('component/mainDisplay/musicDisplayWidthItem.html')
              }
          </ul>
        </div>
      </div>
    </div>
</div> 