<div class="row main-display">
    <div class="col-lg-8">
      <div class="display-large">
        <h3 class="music-title">
          <i class="fas fa-music"></i>
          <span>@@title</span>
        </h3>
        <div class="media-section">
          <img src="/images/thum-large.png" />
        </div>
        <div class="d-block tag-list pt-3 pb-3">
            <a class="tag-item" href="#">#자전거탄풍경1집</a>
            <a class="tag-item" href="#">#16비트</a>
            <a class="tag-item" href="#">#클래식OST</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      @@include('component/mainDisplay/musicDisplayList.html')
    </div>
</div> 