<div class="row tab-btn-section">
  <div class="col-md-4 col-sm-3 col-xs-4">
      <button class="music-title active">
        <i class="fas fa-music"></i>
        <span>인기곡</span>
      </button>
  </div>
  <div class="col-md-4 col-sm-3 col-xs-4">
    <button class="music-title">
      <i class="fas fa-music"></i>
      <span>최신곡</span>
    </button>
  </div>
  <div class="col-md-4 col-sm-3 col-xs-4">
    <button class="music-title">
      <i class="fas fa-music"></i>
      <span>추천곡</span>
    </button>
  </div>
</div>
