<!-- Navigation -->
<nav class="fixed-top">
    <div class="container navigation">
        <div class="row">
            <div class="col-4 align-middle logo-section">
                <a class="logo" href="/">Home</a>
            </div>
            <div class="col-4 title-section">
                <h1 class="title text-center">
                    <span class="text">상팔 <strong>스타일</strong> 기타</span>
                </h1>
            </div>
            <div class="col-4 user-section">
                @@include('component/user_form.html')
            </div>
        </div>
    </div>
    <div class="container-fluid tags">
        <div class="container">
            <h2 class="title">추천태그</h2>
            <div class="tag-list">
                <a class="tag-item" href="#">#김광석</a>
                <a class="tag-item" href="#">#7080</a>
                <a class="tag-item" href="#">#16비트</a>
                <a class="tag-item" href="#">#상팔스타일16집</a>
                <a class="tag-item" href="#">#핑거스타일</a>
                <a class="tag-item" href="#">#쉬운곡</a>
            </div>
        </div>
    </div>
</nav>
<link href="/css/component/header/header.css" rel="stylesheet">

