<!-- Navigation -->
<nav class="fixed-top">
    <div class="container navigation">
        <div class="row">
            <div class="col-4 align-middle logo-section">
                <a class="logo" href="/">Home</a>
            </div>
            <div class="col-4 title-section">
                <h1 class="title text-center">
                    <span class="text">상팔 <strong>스타일</strong> 기타</span>
                </h1>
            </div>
            <div class="col-4 user-section">
                <form class="user-form">
                    <!-- <button type="button"><i class="fas fa-search d-block d-sm-none m-search" data-toggle="modal" data-target=".search-modal"></i></button> -->
                    <!-- <input type="text" class="form-control d-none d-md-block" placeholder="검색어" aria-label="search" > -->
                    <!-- <button type="submit"><i class="fas fa-search d-none d-md-block"></i></button> -->
                    <button type="button"><i class="fas fa-search m-search" data-toggle="modal" data-target="#search-modal"></i></button>
                    <!--비로그인-->
                    <button type="button" class="ml-2" data-toggle="modal" data-target="#modal"><i class="fas fa-user"></i></button>
                    <button type="button" class="ml-2" data-toggle="modal" data-target="#modal"><i class="fas fa-sign-out-alt"></i></button>
                    <button type="button" class="ml-2" data-toggle="modal" data-target="#modal"><i class="fas fa-users-cog"></i></button>
                    <!-- 로그인 -->
                    <!-- <a href="#" class="ml-2"><i class="fas fa-user login"></i></a> -->
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid tags-section">
        <div class="container">
            <h2 class="title pt-3 pb-3">추천태그</h2>
            <div class="d-block tag-list pt-3 pb-3">
                <a class="tag-item" href="#">#김광석</a>
                <a class="tag-item" href="#">#7080</a>
                <a class="tag-item" href="#">#16비트</a>
                <a class="tag-item" href="#">#상팔스타일16집</a>
                <a class="tag-item" href="#">#핑거스타일</a>
                <a class="tag-item" href="#">#쉬운곡</a>
            </div>
            <link href="../css/component/tagList.css" rel="stylesheet">

        </div>
    </div>
</nav>
<link href="../css/component/header/header.css" rel="stylesheet">