<div class="display-large">
    <h3 class="music-title">
        <i class="fas fa-music"></i>
        <span>@@title</span>
    </h3>
    <div class="media-section position-relative">
        <a href="#">
            <img srcset="
                    https://img.youtube.com/vi/rPWRjUgWaMY/hqdefault.jpg 576w,
                    https://img.youtube.com/vi/rPWRjUgWaMY/sddefault.jpg 768w,
                    https://img.youtube.com/vi/rPWRjUgWaMY/maxresdefault.jpg 1000w" sizes="
                    (max-width: 576px) 576px,
                    (max-width: 768px) 768px,
                    1000px" src="https://img.youtube.com/vi/rPWRjUgWaMY/maxresdefault.jpg" alt="">


            <div class="main-display-tooltip" role="tooltip">
                <div class="title-section">
                    <h1 class="title">@@songTitle</h1>
                </div>
                <div class="sub-title">
                    <span>작사:아무개</span> <span>작곡:아무개</span>
                </div>
                <div class="detail-count-section">
                    <i class="fas fa-play"></i><span class="text d-none d-md-inline">재생수 :</span><span class="count">255</span>
                    <i class="fas fa-heart"></i><span class="text d-none d-md-inline">좋아요 :</span><span class="count">2,555</span>
                    <i class="fas fa-comment"></i><span class="text d-none d-md-inline">댓글수 :</span><span class="count">555</span>
                </div>
                <link href="../css/component/detailCount.css" rel="stylesheet">
            </div>
        </a>
    </div>
    <div class="d-block tag-list pt-3 pb-3">
        <a class="tag-item" href="#">#김광석</a>
        <a class="tag-item" href="#">#7080</a>
        <a class="tag-item" href="#">#16비트</a>
        <a class="tag-item" href="#">#상팔스타일16집</a>
        <a class="tag-item" href="#">#핑거스타일</a>
        <a class="tag-item" href="#">#쉬운곡</a>
    </div>
    <link href="../css/component/tagList.css" rel="stylesheet">

</div>