<div class="col-cxl-1 col-lg-3 col-md-4 col-csm-6 col-xs-12 music-display-item">
    <div class="thum-section">
        <a href="#" class="thum-item-img">
            <img srcset="
                    https://img.youtube.com/vi/rPWRjUgWaMY/default.jpg 576w,
                    https://img.youtube.com/vi/rPWRjUgWaMY/mqdefault.jpg 768w,
                    https://img.youtube.com/vi/rPWRjUgWaMY/hqdefault.jpg 1000w" sizes="
                    (max-width: 576px) 576px,
                    (max-width: 768px) 768px,
                    1000px" src="https://img.youtube.com/vi/rPWRjUgWaMY/hqdefault.jpg" alt="">

        </a>
    </div>
    <div class="text-section">
        <strong><a href="#" class="title">고급용 기타레슨 - [TAB] 사랑하긴 했었나요 - 잔나비</a></strong>
        <div class="counter-section">
            <div class="row">
                <div class="col-4">
                    <i class="fas fa-play"></i> <span class="count">255</span>
                </div>
                <div class="col-4">
                    <i class="fas fa-heart"></i> <span class="count">2,555</span>
                </div>
                <div class="col-4">
                    <i class="fas fa-comment"></i> <span class="count">555</span>
                </div>
            </div>
        </div>
        <link href="../css/component/count.css" rel="stylesheet">
    </div>
</div>