<li class="music-list">
    <div class="row">
        <div class="col-5">
            <a href="#" class=""><img src="/images/thum-small2.png" /></a>
        </div>
        <div class="col-7">
            <div class="text-section">
                <strong><a href="#" class="title">고급용 기타레슨 - [TAB] 사랑하긴 했었나요 - 잔나비</a></strong>
                <div class="counter-section">
                    <div class="row">
                        <div class="col-4">
                            <i class="fas fa-play"></i> <span class="count">55</span>
                        </div>
                        <div class="col-4">
                            <i class="fas fa-heart"></i> <span class="count">2,555</span>
                        </div>
                        <div class="col-4">
                            <i class="fas fa-comment"></i> <span class="count">155</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>