<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>상팔기타</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name='author' content="상팔">
<meta name='description' content="상팔기타 사이트에 오신 것을 환영합니다">
@@include('head.html')
</head>
<body>
<div class="wrap">
  @@include('component/header/header.html')
    <!-- Page Content -->
    <div class="container-fluid p-0">
      <div class="container">
        <div class="row main-display">
          <div class="col-lg-8">
            <div class="display-large">
              <h3 class="music-title">
                <i class="fas fa-music"></i>
                <span>상팔의 추천곡 (Sangpal’s Choice)</span>
              </h3>
              <div class="media-section">
                <img src="/images/thum-large.png" />
              </div>
              <div class="d-block tag-list pt-3 pb-3">
                  <a class="tag-item" href="#">#자전거탄풍경1집</a>
                  <a class="tag-item" href="#">#16비트</a>
                  <a class="tag-item" href="#">#클래식OST</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="music-tab">
              <div class="row tab-btn-section">
                <div class="col-md-4 col-sm-3 col-xs-4">
                  <button class="music-title active">
                    <i class="fas fa-music"></i>
                    <span>인기곡</span>
                  </button>
                </div>
                <div class="col-md-4 col-sm-3 col-xs-4">
                  <button class="music-title">
                    <i class="fas fa-music"></i>
                    <span>최신곡</span>
                  </button>
                </div>
                <div class="col-md-4 col-sm-3 col-xs-4">
                  <button class="music-title">
                    <i class="fas fa-music"></i>
                    <span>추천곡</span>
                  </button>
                </div>
              </div>
              <div class="tab-wrap">
                <ul class="tab">
                  @@for (var i = 0; i < 4; i++) {
                    @@include('component/musicIDisplaytemWidth/musicIDisplaytemWidth.html')
                  }
                </ul>
              </div>
            </div>
          </div>
        </div> 

        <!-- Marketing Icons Section -->
        <div class="music-display custom-breakpoint">
          <h3 class="music-title">
            <i class="fas fa-music"></i>
            <span>최신곡</span>
          </h3>
          <a href="#" class="btn btn-link">더보기</a>
          <div class="row">
            @@for (var i = 0; i < 5; i++) {
              @@include('component/musicIDisplaytem/musicIDisplaytem.html')
            }
          </div>
        </div>

        <!-- Marketing Icons Section -->
        <div class="music-display custom-breakpoint">
          <h3 class="music-title">
            <i class="fas fa-music"></i>
            <span>추천곡</span>
          </h3>
          <a href="#" class="btn btn-link">더보기</a>
          <div class="row">
            @@for (var i = 0; i < 5; i++) {
              @@include('component/musicIDisplaytem/musicIDisplaytem.html')
            }
          </div>
        </div>

        <!-- Marketing Icons Section -->
        <div class="music-display custom-breakpoint">
          <h3 class="music-title">
            <i class="fas fa-book-open"></i>
            <span>상팔스타일 기타여행 악보집</span>
          </h3>
          <a href="#" class="btn btn-link">더보기</a>
          <div class="row">
            @@for (var i = 0; i < 5; i++) {
              @@include('component/musicalNoteItem/musicalNoteItem.html')
            }
          </div>
        </div>


    
      </div>
    </div>
      <!-- /.container -->
    
      <!-- Footer -->
      <footer class="mt-5 pb-5 bg-white border-top">
        <div class="container">
          <address class="m-0 pt-4 pb-1 text-center">제주특별자치도 제주시 한경면 중산간서로 3633-7 와이엘아트 대표이사 전상헌 사업자등록번호 123-45-6789</address>
          <strong class="text-center">상팔스타일 기타 여행</strong>
        </div>
        <!-- /.container -->
      </footer>

<script src="/js/common.js"></script>
</div>
</body>
</html>
